﻿@{
    ViewBag.Title = "О приложении";
}
<h2>@ViewBag.Title.</h2>

<p>Приложение было создано с целью облегчить жизнь при подготовке дз по базам данных, кроме веб версии вы также можете воспользоваться ботом: t.me/misis_hometask_check_bot</p>
