﻿@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Проверка домашнего задания</h1>
    <p class="lead">Здесь вы можете проверить выполнение третьей лабраторной работы по Базам Данных</p>
</div>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <h2>Введите sql с созданием процедур и функций</h2>
            @Html.TextArea("HometaskValue", "", 10, 70, null)
            <p><input type="submit" value="Отправить" /></p>
        }
        <p>@ViewBag.result</p>
        <p>@Html.Raw(@ViewBag.details)</p>
    </div>
</div>